/* Color guide 
Green: rgb(0,104,87)
Black: rgb(0,0,0)
Medium Gray: rgb(200,200,200)
Light Gray: rgb(240,240,240)
Red: rgb(179,8,56)
Gold-Dark: rgb(?,?,?)
Gold-light: rgb(250,227,135)
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat%7CWork+Sans&display=swap%27');

html,
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
}

a {
    color: black;
    text-decoration: none;
    
}

a:hover 
{
     color:rgb(250,227,135); 
     text-decoration:none; 
     cursor:pointer;  
}

.view1 {
	background-color: #F1F1F1;
	min-height: 100%;
	z-index: 1000;
}


.leftangle {
	width: 0;
	height: 0;
	z-index: 1;
	border-style: solid;
	position: absolute;
	border-width: 100vh 0 0 99.52vw;
	filter: drop-shadow( 0 0 10px rgb(0, 0, 0));
	border-color: transparent transparent transparent #007a68;
	line-height: 0px;
}

.rightangle {
	width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
	filter: drop-shadow( 0 0 10px rgb(0, 0, 0));
	border-width: 0 0 100vh 100vw;
	border-color: transparent transparent #c12048 transparent;
	line-height: 0px;
}

.leftContent h2{
	font-family: 'Work Sans', sans-serif;
	font-size: 3em;
	
}

.rightContent h2{
	font-family: 'Work Sans', sans-serif;
	font-size: 3em;
}

.leftContent{
	z-index: 11;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	left:10%;
	top:45%;
	width:40%;
	font-size: 1em;
	font-weight: 600;
	/* position: absolute;
	left: 5%;  */
	/* -webkit-transform: translateX(-50%);
	transform: translateX(-50%); */
	/* font-size: 5em; */
}

.rightContent{
	z-index: 11;
	position: absolute;
	font-family: 'Montserrat', sans-serif;
	right:10%;
    top:45%;
    width:26%;
	font-size: 1em;
	font-weight: 600;
	/* position: absolute;
	left: 75%; */ 
	/* -webkit-transform: translateX(-50%);
	transform: translateX(-50%); */
	/* font-size: 5em; */
}

.topangle {
    width: 0;
	height: 0;
	position: absolute;
	border-style: solid;
    filter: drop-shadow( 0 0 10px rgb(0, 0, 0));
    border-width: 100vh 99vw 0 0;
    border-color: transparent transparent #D6C58A transparent;
    line-height: 0px;
}

.headline{
	z-index: 10;
	font-family: 'Open Sans', sans-serif;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}

.schoolHeadline{
    position: absolute;
    height:15em;
    width:15em;
    top: 13%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

