/* Color guide 
Green: rgb(0,104,87)
Black: rgb(0,0,0)
Medium Gray: rgb(200,200,200)
Light Gray: rgb(240,240,240)
Red: rgb(179,8,56)
Gold-Dark: rgb(?,?,?)
Gold-light: rgb(250,227,135)
*/




body{
    background-color: rgb(240,240,240);
}