/* Color guide 
Green: rgb(0,104,87)
Black: rgb(0,0,0)
Medium Gray: rgb(200,200,200)
Light Gray: rgb(240,240,240)
Red: rgb(179,8,56)
Gold-Dark: rgb(?,?,?)
Gold-light: rgb(250,227,135)
*/


@import url('https://fonts.googleapis.com/css?family=Montserrat%7CWork+Sans&display=swap%27');


body{
    background-color: rgb(240,240,240);
    margin:0px;
}

#header{
    height:20%;
    background-color: rgb(200,200,200);
    width:100%;
    display: inline-block;
}

#header h1{
    margin:0px;
    font-size: 2em;
    display:inline-block;
}

#header h2{
    font-family: 'Work Sans', sans-serif;
    display: inline-block;
    margin-left:7%;
    margin-right:7%;
    margin-top:1%;
    vertical-align: middle;
    margin-bottom: auto;
}

#header img{
    zoom:50%;
    vertical-align: middle;
}

p{
    font-family: 'Montserrat', sans-serif;
}